body {
    font-family: helvetica, arial, sans-serif;
    /* margin: 2em; */
    color: #3d3d3d;
    display: flex;
    justify-content: center;
  }

  .container-outer {
    margin-top:65px;

  }
  
  .buttonControls {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 400px;
  }
  
  /* h1 {
          font-style: italic;
          color: #ff6f00;
        } */
  
  video {
    display: block;
    /* border: 1px solid rgb(29, 28, 28); */
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .removed {
    display: none;
  }
  
  .invisible {
    opacity: 0.2;
  }
  
  .videoTag {
  }
  
  .predictionWindow {
    position: absolute;
    z-index: 20;
  }
  
  /*            */
  .container {
    width: 400px;
    margin-top: 20px;
    border: 2px solid rgb(221, 220, 220);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(19, 228, 222);
    background: linear-gradient(
      354deg,
      rgb(206, 232, 241) 0%,
      rgba(255, 255, 255, 1) 59%
    );
  }
  
  .container-small-app-viewer {
    width: 400px;
    height: 500px;
    margin-top: 20px;
    border: 2px solid rgb(221, 220, 220);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(19, 228, 222);
    background: linear-gradient(
      354deg,
      rgb(206, 232, 241) 0%,
      rgba(255, 255, 255, 1) 59%
    );
  }
  
  .top-title {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 23px;
    color: rgb(53, 53, 53);
  }
  
  .top-title > h2 {
    margin-top: 20px;
    margin-bottom: 2px;
  }
  
  .top-title > p {
    margin: 0;
    font-size: 10px;
    font-style: italic;
    font-color: rgb(59, 59, 59);
  }
  
  .top-button-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    /* border: 1px solid red; */
  }
  
  .top-button-container > button {
    width: 140px;
    height: 45px;
    /* font-family: "Roboto", sans-serif; */
    font-size: 11px;
    text-transform: uppercase;
    /* letter-spacing: 2.5px; */
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .graphic-display {
    /* border: 1px solid rgb(168, 168, 168); */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .graphic-display > p {
    margin-bottom: 30px;
  }
  
  .trash-icon {
    font-size: 120px;
    color: rgb(140, 221, 217);
  }
  
  .trash-icon-empty {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-moz-keyframes spin {
    50% {
      -moz-transform: rotate(170deg);
    }
  }
  @-webkit-keyframes spin {
    50% {
      -webkit-transform: rotate(170deg);
    }
  }
  @keyframes spin {
    50% {
      -webkit-transform: rotate(170deg);
      transform: rotate(170deg);
    }
  }
  
  .video-display-container {
    margin: 30px 0;
    width: 360px;
    height: 390px;
    /* border: 1px solid rgb(187, 187, 187); */
  }
  
  .video-display {
    background: rgb(255, 252, 252);
  }
  
  .video-display-load {
    background: rgb(180, 180, 180);
  }
  
  .playVideoButton {
    width: 95px;
    height: 30px;
    margin-bottom: 3px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 45px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  